/*
====================================================================================================================================================================
                                                    Start Contact Page
====================================================================================================================================================================
*/
.container {
    background-color: #09568d;
  
}
.flex {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 75%;
}

.h1lt {
    text-align: center;
}

input[type=text]{
    padding: 8px 6px;
}

input[type=submit]{
    transition: all 0.3s ease 0s;
    width: 100%; 
    padding: 15px 5px;
    border-radius: 2px;
    background: #172035;
    color: white;
    font-size: 1.6em;
    border:none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #09568d;
}


/*
====================================================================================================================================================================
                                                    End Contact Page
====================================================================================================================================================================
*/
