/*
====================================================================================================================================================================
                                                    Start Learn Tech Page 
====================================================================================================================================================================
*/
section#learntech {
    display: grid;
    grid-template: repeat(1fr);
    justify-content: center;
    grid-gap: 1rem;
    text-align: center;
    padding: 40px 0;
    background-color: rgb(228, 228, 228);

}

div.learntechnow {
    grid-column: 1;
    height: 500px;
    background: white;
    border: 0.5rem;
    overflow: hidden;
    border-radius: 0.3rem;
    transition: all 0.3s ease 0s;
}

div.learntechpodcast {
    grid-column: 2;
    height: 500px;
    background: white;
    border: 0.5rem;
    overflow: hidden;
    border-radius: 0.3rem;
    transition: all 0.3s ease 0s;
}

div.learntechblog {
    grid-column: 3;
    height: 500px;
    background: white;
    border: 0.5rem;
    overflow: hidden;
    border-radius: 0.3rem;
    transition: all 0.3s ease 0s;
}

.h1lt {
    grid-column: 1/4;
    text-align: center;
    justify-content: center;
}


section#learntech div:hover{
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
}


/*
====================================================================================================================================================================
                                                    End Learn Tech Page 
====================================================================================================================================================================
*/ 