/*
====================================================================================================================================================================
                                                    Start Tech Support Page
====================================================================================================================================================================
*/
section#techsupport {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    gap: 20px;      
}

.support-card {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 0.5rem;
    border-radius: 0.3rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.card-image {
    min-width: 400px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

.support-card:hover {
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
}

.support-card:last-of-type{
    margin-bottom: 40px;
}

.title {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.text-wrapper{
    min-width: 370px;
    padding: 15px 10px;
}

button {
    font-size: 1.5rem;
    padding: 15px;
    width: fit-content;
}

/*
====================================================================================================================================================================
                                                    End Tech Support Page
====================================================================================================================================================================
*/